.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  background-color: #343d46;
}

.login-form-container {
  width: 37%;
  height: auto;
  display: flex;
  padding-top: 1.8%;
  border-radius: 10px;
  flex-direction: column;
  color: white;
  border: 3px solid #505258;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4705882353);
  background-color: #282c34;
}
.login-form-container .title {
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
}
.login-form-container .login-form {
  padding: 5% 12%;
}
.login-form-container .login-form .forgotten-link {
  display: block;
  text-align: left;
  padding-bottom: 10px;
  color: #61dafb;
}
.login-form-container .login-form .forgotten-link:hover {
  text-decoration: underline;
}
.login-form-container .login-form .submit-btn {
  width: 75%;
  margin: 20px;
  display: flex;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  justify-self: center;
  justify-content: center;
  transition: 500ms ease-in;
  color: white;
  background-color: #61dafb;
}
.login-form-container .login-form .submit-btn:hover {
  cursor: pointer;
  color: #282c34;
  transform: translateY(-1px);
}
.login-form-container .login-form .submit-btn:disabled {
  cursor: not-allowed;
  background-color: rgba(251, 251, 251, 0.7019607843);
}
.login-form-container .login-form .create-link {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  color: #61dafb;
}
.login-form-container .login-form .create-link:hover {
  text-decoration: underline;
}
.login-form-container .loading {
  height: 24px;
  width: 24px;
  border: 4px solid white;
  border-style: dotted;
  border-radius: 50px;
  animation: spin 1s infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login-form-container .error {
  color: #ff3f3f;
  text-align: center;
  padding: 5px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .login-form-container {
    width: 70%;
    padding-top: 3%;
  }
  .login-form-container .title {
    font-size: 42px;
    font-weight: 700;
  }
  .login-form-container .login-form .forgotten-link,
  .login-form-container .login-form .create-link {
    font-size: 19px;
  }
  .login-form-container .login-form .submit-btn {
    padding: 15px;
    font-size: 20px;
  }
  .login-form-container .login-form .loading {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 768px) {
  .login-form-container {
    width: 79%;
    padding-top: 3%;
  }
  .login-form-container .title {
    font-size: 42px;
    font-weight: 700;
  }
  .login-form-container .login-form {
    padding: 1% 12% 5%;
  }
  .login-form-container .login-form .forgotten-link,
  .login-form-container .login-form .create-link {
    font-size: 19px;
  }
  .login-form-container .login-form .submit-btn {
    padding: 15px;
    font-size: 20px;
  }
  .login-form-container .login-form .loading {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 480px) {
  .login-form-container {
    width: 100%;
    padding-top: 3%;
    border-radius: 0;
    border: 0;
  }
  .login-form-container .title {
    font-size: 42px;
    font-weight: 700;
  }
  .login-form-container .login-form {
    padding: 1% 9% 5%;
  }
  .login-form-container .login-form .forgotten-link,
  .login-form-container .login-form .create-link {
    font-size: 19px;
  }
  .login-form-container .login-form .submit-btn {
    padding: 15px;
    font-size: 20px;
  }
  .login-form-container .login-form .loading {
    height: 30px;
    width: 30px;
  }
}
@media (max-width: 320px) {
  .login-form-container {
    width: 100%;
    padding-top: 20%;
    border-radius: 0;
    border: 0;
  }
  .login-form-container .title {
    font-size: 42px;
    font-weight: 700;
  }
  .login-form-container .login-form {
    padding: 1% 1% 5%;
  }
  .login-form-container .login-form .forgotten-link,
  .login-form-container .login-form .create-link {
    font-size: 19px;
  }
  .login-form-container .login-form .submit-btn {
    padding: 15px;
    font-size: 20px;
  }
  .login-form-container .login-form .loading {
    height: 30px;
    width: 30px;
  }
}

/*# sourceMappingURL=login.css.map */
