@use "../variable" as *;
@use "./component-mixin" as *;

.input {
  padding-bottom: 12px;
  .label {
    display: block;
    font-size: large;
    font-weight: 600;
    padding: 10px 0 10px 5px;
  }
  .inputTag {
    width: 100%;
    height: 44px;
    font-weight: 700;
    font-size: medium;
    border-radius: 10px;
    padding: 2% 0 2% 4%;
    color: $primary-text-color;
    border: 2px solid $border-color;
    background-color: $input-background-color;
    &:focus {
      outline: none;
      box-shadow: 0 0 3px 2px #61dafb;
    }
    &::placeholder {
      color: $placeholder-text-color;
    }
  }
  #inputSelect {
    height: 47.475px;
    padding: 0 4%;
    appearance: none;
    &:hover {
      cursor: pointer;
    }
  }
  .select-image-btn {
    width: 100%;
    height: 44px;
    display: flex;
    overflow: hidden;
    font-weight: 700;
    font-size: medium;
    border-radius: 10px;
    padding: 2% 0 2% 4%;
    color: $primary-text-color;
    border: 2px solid $border-color;
    background-color: $input-background-color;
    &:hover {
      cursor: pointer;
    }
    .select-image {
      width: 36px;
      border-radius: 50px;
      height: 36px;
      margin-top: -10px;
    }
  }
  .password {
    display: flex;
  }
  .showPassword {
    border: 0px;
    width: 10%;
    display: flex;
    font-size: 19px;
    margin-left: -10%;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    background-color: transparent;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px $input-background-color inset !important;
    -webkit-text-fill-color: $primary-text-color !important;
  }
}
@include responsive-component;
