$border-color: #505258;
$primary-text-color: white;
$secondary-text-color: #61dafb;
$font-family: "Inter", sans-serif;
$placeholder-text-color: #a0a0a0;
$input-background-color: #3a3f47;
$primary-background-color: #343d46;
$secondary-background-color: #282c34;
