@use "./variable" as *;
@use "./login/login";
@use "./not-found//not-found.scss";
@use "./component/component.scss";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}
